@import "tailwindcss";
@import "@heroui/styles";

:root {
  --primary: #1D3557;
  --primary-light: #457B9D;
  --secondary: #FFEDD8;
  --background: #FAF9F6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.headerLogin_btn {
  background-color: 'var(--secundary)';
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}